:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

#somarPai {
    display: block;

    padding: 5px 5px;

    border: 1px solid #224094;
    border-radius: 8px;
}

#somarFilho {
    border: transparent;
    display: flex;
    gap: 32px; 
}

p{
  border-radius: 8px;
  border: 1px solid #363636;
  padding: 0.6em 0.7em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;

  cursor: pointer;
  transition: border-color 0.25s;
}



input {
    border-radius: 8px;
    border: 1px solid #363636;
    padding: 0.6em 0.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;

    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
}
input:hover {
    background-color: #353975;
    border-color: #3d4192;
}
input:focus,
input:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}



button {
    border-radius: 8px;
    border: 1px solid #363636;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;

    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    background-color: #353975;
    border-color: #3d4192;
}
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}