#CalculadoraIdade {
    background-color: red;
    width: 100px;
    height: 100px;
}

h1 {
    font-size: larger;
    color: white;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}