#somarPai {
    display: block;

    padding: 5px 5px;

    border: 1px solid #224094;
    border-radius: 8px;
}

#somarFilho {
    border: transparent;
    display: flex;
    gap: 32px; 
}

p{
  border-radius: 8px;
  border: 1px solid #363636;
  padding: 0.6em 0.7em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}



input {
    border-radius: 8px;
    border: 1px solid #363636;
    padding: 0.6em 0.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
input:hover {
    background-color: #3d4192;
}
input:focus,
input:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}



button {
    border-radius: 8px;
    border: 1px solid #363636;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    background-color: #353975;
    border-color: #3d4192;
}
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}